In [179]:
import pandas as pd 
import numpy as np 
import xlrd
import matplotlib.pyplot as plt

# Reading Excel file

In [180]:
df = pd.read_excel('sheetone.xls',sheetname ='Primary NAR',converters = {'Total':np.int32,
                                                                         'Gender(Male)':np.int32,
                                                                         'Gender(Female)':np.int32,
                                                                         'R(Urban)':np.int32,
                                                                         'R(Rural)':np.int32,
                                                                         'WQ(Poor)':np.int32,
                                                                         'WQ(Second)':np.int32,
                                                                         'WQ(Second)':np.int32,
                                                                         'WQ(Middle)':np.int32,
                                                                         'WQ(Fourth)':np.int32,
                                                                         'WQ(Richest)':np.int32,})
df

,ISO Code,Countries and areas,Reference year(s),Total,Gender(Male),Gender(Female),R(Urban),R(Rural),WQ(Poor),WQ(Second),WQ(Middle),WQ(Fourth),WQ(Richest)
0,AFG,Afghanistan,2013-14,54,62,45,76,51,40,47,50,61,79
1,ALB,Albania,2008-09,92,92,92,93,91,91,93,91,93,93
2,DZA,Algeria,2012-13,97,97,97,97,97,96,96,98,98,98
3,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,2008-09,76,77,75,84,66,62,74,77,85,90
5,ATG,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ARG,Argentina,2011-12,98,98,99,NaN,NaN,98,99,98,98,99
7,ARM,Armenia,2010,99,99,99,99,98,98,99,99,100,100
8,AUS,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AUT,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AZE,Azerbaijan,2011,67,68,66,68,67,66,63,67,71,70
11,BHS,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,BHR,Bahrain,2000,86,86,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,BGD,Bangladesh,2014,91,90,92,90,91,87,93,93,91,93
14,BRB,Barbados,2012,99,100,98,99,99,99,100,100,97,100
15,BLR,Belarus,2012,91,92,90,91,93,93,93,88,89,92
16,BEL,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,BLZ,Belize,2011,94,94,94,97,91,86,93,96,98,97
18,BEN,Benin,2014,74,77,73,83,72,56,70,81,88,90
19,BTN,Bhutan,2012,95,95,94,97,94,84,88,93,95,97
20,BOL,Bolivia (Plurinational State of),2008,96,96,96,97,96,94,96,97,97,98
21,BIH,Bosnia and Herzegovina,2011-12,96,96,95,94,96,93,98,96,97,93
22,BWA,Botswana,2009-2010,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,BRA,Brazil,2013,97,97,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,BRN,Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,BGR,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BFA,Burkina Faso,2010,51,53,50,82,45,30,42,50,60,85
27,BDI,Burundi,2010,84,85,84,90,84,75,81,85,87,92
28,CPV,Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,KHM,Cambodia,2014,92,91,93,96,92,86,91,95,96,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,SUR,Suriname,2010,95,95,96,96,93,91,95,98,98,96
168,SWZ,Swaziland,2010,96,96,97,96,96,95,96,95,97,98
169,SWE,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,CHE,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,SYR,Syrian Arab Republic,2006,96,96,96,97,95,92,96,97,98,98
172,TJK,Tajikistan,2012,97,97,96,98,96,95,96,97,98,98
173,THA,Thailand,2012,95,95,95,95,95,94,95,95,96,96
174,MKD,The former Yugoslav Republic of Macedonia,2011,98,98,97,98,98,96,97,98,98,99
175,TLS,Timor-Leste,2009-10,72,71,73,79,69,59,68,71,78,83
176,TGO,Togo,2013-14,88,90,86,96,85,79,85,90,96,96
177,TON,Tonga,2012,92,92,92,91,93,94,91,93,91,93
178,TTO,Trinidad and Tobago,2006,97,97,97,NaN,NaN,94,98,98,99,98
179,TUN,Tunisia,2011-12,98,98,97,98,96,96,97,98,99,98
180,TUR,Turkey,2013,95,94,96,95,95,92,97,97,94,96
181,TKM,Turkmenistan,2006,99,99,98,99,99,99,98,99,99,98
182,TUV,Tuvalu,2007,98,97,99,97,98,99,97,99,94,100
183,UGA,Uganda,2011,86,86,86,90,86,78,86,87,90,91
184,UKR,Ukraine,2012,99,100,99,99,99,99,99,100,100,100
185,ARE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,GBR,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,TZA,United Republic of Tanzania,2012,76,75,78,90,72,67,74,83,89,95
188,USA,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,URY,Uruguay,2012-13,97,96,97,97,97,96,97,97,96,97
190,UZB,Uzbekistan,2006,94,94,94,95,94,92,94,95,95,96
191,VUT,Vanuatu,2013,77,76,78,77,77,75,72,79,80,80
192,VEN,Venezuela (Bolivarian Republic of),2000,91,91,92,NaN,NaN,85,93,95,97,98
193,VNM,Viet Nam,2014,97,97,97,98,97,94,98,99,98,98
194,YEM,Yemen,2013,76,80,72,85,73,56,76,81,83,89
195,ZMB,Zambia,2013-14,87,85,88,92,84,74,84,88,91,96
196,ZWE,Zimbabwe,2014,93,92,94,96,92,90,92,94,93,97

#  Removing NaN values

In [181]:

df1 = pd.DataFrame.dropna(df)
df1 = df1.reset_index(drop=True)
df1

,ISO Code,Countries and areas,Reference year(s),Total,Gender(Male),Gender(Female),R(Urban),R(Rural),WQ(Poor),WQ(Second),WQ(Middle),WQ(Fourth),WQ(Richest)
0,AFG,Afghanistan,2013-14,54,62,45,76,51,40,47,50,61,79
1,ALB,Albania,2008-09,92,92,92,93,91,91,93,91,93,93
2,DZA,Algeria,2012-13,97,97,97,97,97,96,96,98,98,98
3,AGO,Angola,2008-09,76,77,75,84,66,62,74,77,85,90
4,ARM,Armenia,2010,99,99,99,99,98,98,99,99,100,100
5,AZE,Azerbaijan,2011,67,68,66,68,67,66,63,67,71,70
6,BGD,Bangladesh,2014,91,90,92,90,91,87,93,93,91,93
7,BRB,Barbados,2012,99,100,98,99,99,99,100,100,97,100
8,BLR,Belarus,2012,91,92,90,91,93,93,93,88,89,92
9,BLZ,Belize,2011,94,94,94,97,91,86,93,96,98,97
10,BEN,Benin,2014,74,77,73,83,72,56,70,81,88,90
11,BTN,Bhutan,2012,95,95,94,97,94,84,88,93,95,97
12,BOL,Bolivia (Plurinational State of),2008,96,96,96,97,96,94,96,97,97,98
13,BIH,Bosnia and Herzegovina,2011-12,96,96,95,94,96,93,98,96,97,93
14,BFA,Burkina Faso,2010,51,53,50,82,45,30,42,50,60,85
15,BDI,Burundi,2010,84,85,84,90,84,75,81,85,87,92
16,KHM,Cambodia,2014,92,91,93,96,92,86,91,95,96,97
17,CMR,Cameroon,2014,85,87,84,94,77,60,85,91,95,98
18,CAF,Central African Republic,2010,73,78,68,86,65,57,63,73,82,90
19,TCD,Chad,2010,51,55,48,70,46,40,42,48,57,74
20,COL,Colombia,2010,95,95,96,95,94,93,96,95,96,96
21,COM,Comoros,2012,84,84,84,90,82,71,81,88,94,95
22,COG,Congo,2014-15,96,96,97,98,95,94,97,98,99,99
23,CRI,Costa Rica,2011,96,95,96,96,95,93,96,95,97,98
24,CIV,Côte d'Ivoire,2011-12,69,72,66,77,63,56,69,63,72,86
25,COD,Democratic Republic of the Congo,2013,86,88,85,92,84,78,84,87,90,94
26,DOM,Dominican Republic,2014,94,94,96,95,96,91,94,97,96,98
27,ECU,Ecuador,2014,96,96,96,97,96,96,97,96,96,96
28,EGY,Egypt,2014,96,97,96,96,96,94,95,98,97,98
29,SLV,El Salvador,2014,96,95,96,91,89,89,90,91,90,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,SRB,Serbia,2014,98,98,98,99,97,97,97,100,99,100
78,SLE,Sierra Leone,2013,75,73,77,87,70,62,69,74,82,91
79,SLB,Solomon Islands,2007,65,62,68,72,64,58,63,61,66,78
80,SOM,Somalia,2006,21,23,19,38,11,3,6,17,31,50
81,SSD,South Sudan,2010,23,25,21,39,18,9,12,18,30,50
82,PSE,State of Palestine,2014,98,98,98,98,99,98,98,98,99,99
83,SDN,Sudan,2010,70,72,67,86,63,47,58,72,90,96
84,SUR,Suriname,2010,95,95,96,96,93,91,95,98,98,96
85,SWZ,Swaziland,2010,96,96,97,96,96,95,96,95,97,98
86,SYR,Syrian Arab Republic,2006,96,96,96,97,95,92,96,97,98,98
87,TJK,Tajikistan,2012,97,97,96,98,96,95,96,97,98,98
88,THA,Thailand,2012,95,95,95,95,95,94,95,95,96,96
89,MKD,The former Yugoslav Republic of Macedonia,2011,98,98,97,98,98,96,97,98,98,99
90,TLS,Timor-Leste,2009-10,72,71,73,79,69,59,68,71,78,83
91,TGO,Togo,2013-14,88,90,86,96,85,79,85,90,96,96
92,TON,Tonga,2012,92,92,92,91,93,94,91,93,91,93
93,TUN,Tunisia,2011-12,98,98,97,98,96,96,97,98,99,98
94,TUR,Turkey,2013,95,94,96,95,95,92,97,97,94,96
95,TKM,Turkmenistan,2006,99,99,98,99,99,99,98,99,99,98
96,TUV,Tuvalu,2007,98,97,99,97,98,99,97,99,94,100
97,UGA,Uganda,2011,86,86,86,90,86,78,86,87,90,91
98,UKR,Ukraine,2012,99,100,99,99,99,99,99,100,100,100
99,TZA,United Republic of Tanzania,2012,76,75,78,90,72,67,74,83,89,95
100,URY,Uruguay,2012-13,97,96,97,97,97,96,97,97,96,97
101,UZB,Uzbekistan,2006,94,94,94,95,94,92,94,95,95,96
102,VUT,Vanuatu,2013,77,76,78,77,77,75,72,79,80,80
103,VNM,Viet Nam,2014,97,97,97,98,97,94,98,99,98,98
104,YEM,Yemen,2013,76,80,72,85,73,56,76,81,83,89
105,ZMB,Zambia,2013-14,87,85,88,92,84,74,84,88,91,96
106,ZWE,Zimbabwe,2014,93,92,94,96,92,90,92,94,93,97

In [182]:
list(df1)

['ISO Code',
 'Countries and areas',
 'Reference year(s)',
 'Total',
 'Gender(Male)',
 'Gender(Female)',
 'R(Urban)',
 'R(Rural)',
 'WQ(Poor)',
 'WQ(Second)',
 'WQ(Middle)',
 'WQ(Fourth)',
 'WQ(Richest)']

# Selecting required columns

In [183]:
selected = df1[['ISO Code',
                'Countries and areas',
                'Reference year(s)',
                'WQ(Poor)',
                'WQ(Second)',
                'WQ(Middle)',
                'WQ(Fourth)',
                'WQ(Richest)']]
selected

,ISO Code,Countries and areas,Reference year(s),WQ(Poor),WQ(Second),WQ(Middle),WQ(Fourth),WQ(Richest)
0,AFG,Afghanistan,2013-14,40,47,50,61,79
1,ALB,Albania,2008-09,91,93,91,93,93
2,DZA,Algeria,2012-13,96,96,98,98,98
3,AGO,Angola,2008-09,62,74,77,85,90
4,ARM,Armenia,2010,98,99,99,100,100
5,AZE,Azerbaijan,2011,66,63,67,71,70
6,BGD,Bangladesh,2014,87,93,93,91,93
7,BRB,Barbados,2012,99,100,100,97,100
8,BLR,Belarus,2012,93,93,88,89,92
9,BLZ,Belize,2011,86,93,96,98,97
10,BEN,Benin,2014,56,70,81,88,90
11,BTN,Bhutan,2012,84,88,93,95,97
12,BOL,Bolivia (Plurinational State of),2008,94,96,97,97,98
13,BIH,Bosnia and Herzegovina,2011-12,93,98,96,97,93
14,BFA,Burkina Faso,2010,30,42,50,60,85
15,BDI,Burundi,2010,75,81,85,87,92
16,KHM,Cambodia,2014,86,91,95,96,97
17,CMR,Cameroon,2014,60,85,91,95,98
18,CAF,Central African Republic,2010,57,63,73,82,90
19,TCD,Chad,2010,40,42,48,57,74
20,COL,Colombia,2010,93,96,95,96,96
21,COM,Comoros,2012,71,81,88,94,95
22,COG,Congo,2014-15,94,97,98,99,99
23,CRI,Costa Rica,2011,93,96,95,97,98
24,CIV,Côte d'Ivoire,2011-12,56,69,63,72,86
25,COD,Democratic Republic of the Congo,2013,78,84,87,90,94
26,DOM,Dominican Republic,2014,91,94,97,96,98
27,ECU,Ecuador,2014,96,97,96,96,96
28,EGY,Egypt,2014,94,95,98,97,98
29,SLV,El Salvador,2014,89,90,91,90,91
...,...,...,...,...,...,...,...,...
77,SRB,Serbia,2014,97,97,100,99,100
78,SLE,Sierra Leone,2013,62,69,74,82,91
79,SLB,Solomon Islands,2007,58,63,61,66,78
80,SOM,Somalia,2006,3,6,17,31,50
81,SSD,South Sudan,2010,9,12,18,30,50
82,PSE,State of Palestine,2014,98,98,98,99,99
83,SDN,Sudan,2010,47,58,72,90,96
84,SUR,Suriname,2010,91,95,98,98,96
85,SWZ,Swaziland,2010,95,96,95,97,98
86,SYR,Syrian Arab Republic,2006,92,96,97,98,98
87,TJK,Tajikistan,2012,95,96,97,98,98
88,THA,Thailand,2012,94,95,95,96,96
89,MKD,The former Yugoslav Republic of Macedonia,2011,96,97,98,98,99
90,TLS,Timor-Leste,2009-10,59,68,71,78,83
91,TGO,Togo,2013-14,79,85,90,96,96
92,TON,Tonga,2012,94,91,93,91,93
93,TUN,Tunisia,2011-12,96,97,98,99,98
94,TUR,Turkey,2013,92,97,97,94,96
95,TKM,Turkmenistan,2006,99,98,99,99,98
96,TUV,Tuvalu,2007,99,97,99,94,100
97,UGA,Uganda,2011,78,86,87,90,91
98,UKR,Ukraine,2012,99,99,100,100,100
99,TZA,United Republic of Tanzania,2012,67,74,83,89,95
100,URY,Uruguay,2012-13,96,97,97,96,97
101,UZB,Uzbekistan,2006,92,94,95,95,96
102,VUT,Vanuatu,2013,75,72,79,80,80
103,VNM,Viet Nam,2014,94,98,99,98,98
104,YEM,Yemen,2013,56,76,81,83,89
105,ZMB,Zambia,2013-14,74,84,88,91,96
106,ZWE,Zimbabwe,2014,90,92,94,93,97

# Selecting Asian countries

In [184]:
asiac = ['AFG', 'ARM','AZE','BHR','BGD','BTN','BRN','KHM','CHN','CXR','CCK','IOT','GEO','HKG','IND','IDN','IRN','IRQ',
         'ISR','JPN','JOR','KAZ','PRK','KOR','KWT','KGZ','LAO','LBN','MAC','MYS','MDV','MNG','MMR','NPL','OMN','PAK','PHL',
         'QAT','SAU','SGP','LKA','SYR','TWN','TJK','THA','TUR','TKM','ARE','UZB','VNM','YEM','PSE']

In [185]:
asian_countries = selected.loc[selected['ISO Code'].isin(asiac)]
asian_countries.reset_index(drop=True)

,ISO Code,Countries and areas,Reference year(s),WQ(Poor),WQ(Second),WQ(Middle),WQ(Fourth),WQ(Richest)
0,AFG,Afghanistan,2013-14,40,47,50,61,79
1,ARM,Armenia,2010,98,99,99,100,100
2,AZE,Azerbaijan,2011,66,63,67,71,70
3,BGD,Bangladesh,2014,87,93,93,91,93
4,BTN,Bhutan,2012,84,88,93,95,97
5,KHM,Cambodia,2014,86,91,95,96,97
6,GEO,Georgia,2010,92,95,97,97,96
7,IND,India,2005-06,69,81,87,92,95
8,IDN,Indonesia,2013,90,94,94,96,97
9,IRQ,Iraq,2011,78,90,93,96,97
10,JOR,Jordan,2012,96,98,97,98,99
11,KAZ,Kazakhstan,2010-11,99,98,99,99,100
12,KGZ,Kyrgyzstan,2014,98,100,98,99,99
13,LAO,Lao People's Democratic Republic,2011-12,70,82,91,94,97
14,MDV,Maldives,2009,93,94,95,95,93
15,MNG,Mongolia,2013,96,97,98,99,99
16,MMR,Myanmar,2009-10,81,90,93,94,94
17,NPL,Nepal,2014,80,73,71,74,82
18,PAK,Pakistan,2012-13,38,59,71,77,87
19,PHL,Philippines,2003,78,88,91,93,92
20,PSE,State of Palestine,2014,98,98,98,99,99
21,SYR,Syrian Arab Republic,2006,92,96,97,98,98
22,TJK,Tajikistan,2012,95,96,97,98,98
23,THA,Thailand,2012,94,95,95,96,96
24,TUR,Turkey,2013,92,97,97,94,96
25,TKM,Turkmenistan,2006,99,98,99,99,98
26,UZB,Uzbekistan,2006,92,94,95,95,96
27,VNM,Viet Nam,2014,94,98,99,98,98
28,YEM,Yemen,2013,56,76,81,83,89

# selecting non Asian countries

In [186]:
non_asian_countries = selected.loc[~selected['ISO Code'].isin(asiac)]
non_asian_countries.reset_index(drop=True)

,ISO Code,Countries and areas,Reference year(s),WQ(Poor),WQ(Second),WQ(Middle),WQ(Fourth),WQ(Richest)
0,ALB,Albania,2008-09,91,93,91,93,93
1,DZA,Algeria,2012-13,96,96,98,98,98
2,AGO,Angola,2008-09,62,74,77,85,90
3,BRB,Barbados,2012,99,100,100,97,100
4,BLR,Belarus,2012,93,93,88,89,92
5,BLZ,Belize,2011,86,93,96,98,97
6,BEN,Benin,2014,56,70,81,88,90
7,BOL,Bolivia (Plurinational State of),2008,94,96,97,97,98
8,BIH,Bosnia and Herzegovina,2011-12,93,98,96,97,93
9,BFA,Burkina Faso,2010,30,42,50,60,85
10,BDI,Burundi,2010,75,81,85,87,92
11,CMR,Cameroon,2014,60,85,91,95,98
12,CAF,Central African Republic,2010,57,63,73,82,90
13,TCD,Chad,2010,40,42,48,57,74
14,COL,Colombia,2010,93,96,95,96,96
15,COM,Comoros,2012,71,81,88,94,95
16,COG,Congo,2014-15,94,97,98,99,99
17,CRI,Costa Rica,2011,93,96,95,97,98
18,CIV,Côte d'Ivoire,2011-12,56,69,63,72,86
19,COD,Democratic Republic of the Congo,2013,78,84,87,90,94
20,DOM,Dominican Republic,2014,91,94,97,96,98
21,ECU,Ecuador,2014,96,97,96,96,96
22,EGY,Egypt,2014,94,95,98,97,98
23,SLV,El Salvador,2014,89,90,91,90,91
24,ERI,Eritrea,2010,31,41,60,83,83
25,ETH,Ethiopia,2014,48,57,68,73,81
26,GAB,Gabon,2012,91,94,97,96,96
27,GMB,Gambia,2013,61,60,61,70,77
28,GHA,Ghana,2014,63,59,70,77,83
29,GIN,Guinea,2012,32,44,54,75,89
...,...,...,...,...,...,...,...,...
48,NIU,Niue,2011,100,100,100,100,100
49,PAN,Panama,2013,95,97,97,98,97
50,PER,Peru,2013,92,92,91,91,95
51,MDA,Republic of Moldova,2012,97,99,98,99,98
52,RWA,Rwanda,2013-14,82,87,89,91,92
53,LCA,Saint Lucia,2012,98,100,100,100,100
54,WSM,Samoa,2009,85,88,90,88,90
55,STP,Sao Tome and Principe,2014,91,93,94,94,96
56,SEN,Senegal,2014,49,57,61,72,88
57,SRB,Serbia,2014,97,97,100,99,100
58,SLE,Sierra Leone,2013,62,69,74,82,91
59,SLB,Solomon Islands,2007,58,63,61,66,78
60,SOM,Somalia,2006,3,6,17,31,50
61,SSD,South Sudan,2010,9,12,18,30,50
62,SDN,Sudan,2010,47,58,72,90,96
63,SUR,Suriname,2010,91,95,98,98,96
64,SWZ,Swaziland,2010,95,96,95,97,98
65,MKD,The former Yugoslav Republic of Macedonia,2011,96,97,98,98,99
66,TLS,Timor-Leste,2009-10,59,68,71,78,83
67,TGO,Togo,2013-14,79,85,90,96,96
68,TON,Tonga,2012,94,91,93,91,93
69,TUN,Tunisia,2011-12,96,97,98,99,98
70,TUV,Tuvalu,2007,99,97,99,94,100
71,UGA,Uganda,2011,78,86,87,90,91
72,UKR,Ukraine,2012,99,99,100,100,100
73,TZA,United Republic of Tanzania,2012,67,74,83,89,95
74,URY,Uruguay,2012-13,96,97,97,96,97
75,VUT,Vanuatu,2013,75,72,79,80,80
76,ZMB,Zambia,2013-14,74,84,88,91,96
77,ZWE,Zimbabwe,2014,90,92,94,93,97

# Finding the mean of wealth Quantile of Asian Countries

In [187]:
wq_poor_asian = asian_countries['WQ(Poor)'].mean()
wq_poor_asian

83.827586206896555

In [188]:
wq_second_asian = asian_countries['WQ(Second)'].mean()
wq_second_asian

88.551724137931032

In [189]:
wq_middle_asian = asian_countries['WQ(Middle)'].mean()
wq_middle_asian

90.689655172413794

In [190]:
wq_fourth_asian = asian_countries['WQ(Fourth)'].mean()
wq_fourth_asian

92.310344827586206

In [191]:
wq__richest_asian = asian_countries['WQ(Richest)'].mean()
wq__richest_asian

94.172413793103445

In [192]:
asian = {'WQ(Poor)': wq_poor_asian}
asian

{'WQ(Poor)': 83.827586206896555}

In [193]:
d = pd.Series(asian)
d = pd.DataFrame(d)
d.columns=['asian']
d

              asian
WQ(Poor)  83.827586

In [194]:
asian = {'WQ(Second)': wq_second_asian}
d1 = pd.Series(asian)
d1 = pd.DataFrame(d1)
d1.columns=['asian']
d1

                asian
WQ(Second)  88.551724

In [199]:
asian = {'WQ(Middle)': wq_middle_asian}
d2 = pd.Series(asian)
d2 = pd.DataFrame(d2)
d2.columns=['asian']
d2

                asian
WQ(Middle)  90.689655

In [205]:
asian = {'WQ(Fourth)': wq_fourth_asian}
d3 = pd.Series(asian)
d3= pd.DataFrame(d3)
d3.columns=['asian']
d3

                asian
WQ(Fourth)  92.310345

In [206]:
asian = {'WQ(Richest)': wq__richest_asian}
d4 = pd.Series(asian)
d4 = pd.DataFrame(d4)
d4.columns=['asian']
d4

                 asian
WQ(Richest)  94.172414

In [207]:
frame = [d,d1,d2,d3,d4]

In [208]:
final_frame = pd.concat(frame)
final_frame

                 asian
WQ(Poor)     83.827586
WQ(Second)   88.551724
WQ(Middle)   90.689655
WQ(Fourth)   92.310345
WQ(Richest)  94.172414

In [209]:
objects = ('WQ(Poor)', 'WQ(Second)', 'WQ(Middle)', 'WQ(Fourth)', 'WQ(Richest)',)

In [210]:
y_pos = np.arange(len(objects))

In [211]:
wq_asian_poor = final_frame['asian'][0]
wq_asian_second = final_frame['asian'][1]
wq_asian_Middle = final_frame['asian'][2]
wq_asian_Fourth = final_frame['asian'][3]
wq_asian_Richest = final_frame['asian'][4]

In [212]:
netrate  = [wq_asian_poor,wq_asian_second,wq_asian_Middle,wq_asian_Fourth,wq_asian_Richest]
netrate

[83.827586206896555,
 88.551724137931032,
 90.689655172413794,
 92.310344827586206,
 94.172413793103445]

In [213]:
plt.barh(y_pos, netrate, align='center', alpha=0.5, color='blue')

In [214]:
plt.yticks(y_pos, objects)

([<matplotlib.axis.YTick at 0x7fa428eb16d8>,
  <matplotlib.axis.YTick at 0x7fa428eb1780>,
  <matplotlib.axis.YTick at 0x7fa42925bac8>,
  <matplotlib.axis.YTick at 0x7fa4400bb8d0>,
  <matplotlib.axis.YTick at 0x7fa428bc1128>],
 <a list of 5 Text yticklabel objects>)

In [215]:
plt.xlabel(' Mean Attendance')

In [216]:
plt.title('Asian Countries')

In [217]:
plt.show()

# For non asian countries

In [218]:
wq_poor_non_asian = non_asian_countries['WQ(Poor)'].mean()
wq_poor_non_asian

73.871794871794876

In [219]:
wq_second_non_asian = non_asian_countries['WQ(Second)'].mean()
wq_second_non_asian

78.858974358974365

In [220]:
wq_middle_non_asian = non_asian_countries['WQ(Middle)'].mean()
wq_middle_non_asian

82.512820512820511

In [221]:
wq_fourth_non_asian = non_asian_countries['WQ(Fourth)'].mean()
wq_fourth_non_asian

86.769230769230774

In [222]:
wq_richest_non_asian = non_asian_countries['WQ(Richest)'].mean()
wq_richest_non_asian

91.256410256410263

In [223]:
non_asian = {'WQ(Poor)': wq_poor_non_asian}

In [224]:
x = pd.Series(non_asian)
x = pd.DataFrame(x)
x.columns=['non_asian']
x

          non_asian
WQ(Poor)  73.871795

In [225]:
non_asian = {'WQ(Second)': wq_second_non_asian}
x1 = pd.Series(non_asian)
x1 = pd.DataFrame(x1)
x1.columns=['non_asian']
x1

            non_asian
WQ(Second)  78.858974

In [226]:
non_asian = {'WQ(Middle)': wq_middle_non_asian}
x2 = pd.Series(non_asian)
x2 = pd.DataFrame(x2)
x2.columns=['non_asian']
x2

            non_asian
WQ(Middle)  82.512821

In [227]:
non_asian = {'WQ(Fourth)': wq_fourth_non_asian}
x3 = pd.Series(non_asian)
x3 = pd.DataFrame(x3)
x3.columns=['non_asian']
x3

            non_asian
WQ(Fourth)  86.769231

In [228]:
non_asian = {'WQ(Richest)': wq_richest_non_asian}
x4 = pd.Series(non_asian)
x4 = pd.DataFrame(x4)
x4.columns=['non_asian']
x4

             non_asian
WQ(Richest)   91.25641

In [229]:
frame = [x,x1,x2,x3,x4]

In [230]:
final_frame2 = pd.concat(frame)
final_frame2

             non_asian
WQ(Poor)     73.871795
WQ(Second)   78.858974
WQ(Middle)   82.512821
WQ(Fourth)   86.769231
WQ(Richest)  91.256410

In [231]:
objects = ('WQ(Poor)', 'WQ(Second)', 'WQ(Middle)', 'WQ(Fourth)', 'WQ(Richest)',)

In [232]:
y_pos = np.arange(len(objects))

In [233]:
wq_non_asian_poor = final_frame2['non_asian'][0]
wq_non_asian_second = final_frame2['non_asian'][1]
wq_non_asian_Middle = final_frame2['non_asian'][2]
wq_non_asian_Fourth = final_frame2['non_asian'][3]
wq_non_asian_Richest = final_frame2['non_asian'][4]

In [234]:
netrate  = [wq_non_asian_poor,wq_non_asian_second,wq_non_asian_Middle,wq_non_asian_Fourth,wq_non_asian_Richest]
netrate

[73.871794871794876,
 78.858974358974365,
 82.512820512820511,
 86.769230769230774,
 91.256410256410263]

In [235]:
plt.barh(y_pos, netrate, align='center', alpha=0.5, color='y')

In [236]:
plt.yticks(y_pos, objects)

([<matplotlib.axis.YTick at 0x7fa44006b8d0>,
  <matplotlib.axis.YTick at 0x7fa440142208>,
  <matplotlib.axis.YTick at 0x7fa44006b940>,
  <matplotlib.axis.YTick at 0x7fa44b1cb358>,
  <matplotlib.axis.YTick at 0x7fa44b35d358>],
 <a list of 5 Text yticklabel objects>)

In [237]:
plt.xlabel(' Mean Attendance')

In [238]:
plt.title('Non Asian Countries')

In [239]:
plt.show()

In [240]:
con_frame = [final_frame,final_frame2]
con_final = pd.concat(con_frame,axis=1,join='inner')
con_final

                 asian  non_asian
WQ(Poor)     83.827586  73.871795
WQ(Second)   88.551724  78.858974
WQ(Middle)   90.689655  82.512821
WQ(Fourth)   92.310345  86.769231
WQ(Richest)  94.172414  91.256410

In [241]:
from nvd3 import multiBarChart
import nvd3
nvd3.ipynb.initialize_javascript()
from IPython.core.display import display, HTML

In [15]:
chart = multiBarChart(width=800, height=400, x_axis_format=None)
xdata = ['WQ(Poor)', 'WQ(Second)', 'WQ(Middle)', 'WQ(Fourth)','WQ(Richest)']
ydata1 = [83.827586, 88.551724, 90.689655, 92.310345, 94.172414]
ydata2 = [73.871795, 78.858974, 82.512821, 86.769231,91.256410]

chart.add_serie(name="Asian", y=ydata1, x=xdata)
chart.add_serie(name="Non Asian", y=ydata2, x=xdata)
chart.buildhtml()
display(HTML(chart.htmlcontent))

In [242]:
select = df1[['ISO Code',
                'Countries and areas',
                'Reference year(s)',
                'Gender(Male)','Gender(Female)','R(Urban)','R(Rural)'
                ]]
select

,ISO Code,Countries and areas,Reference year(s),Gender(Male),Gender(Female),R(Urban),R(Rural)
0,AFG,Afghanistan,2013-14,62,45,76,51
1,ALB,Albania,2008-09,92,92,93,91
2,DZA,Algeria,2012-13,97,97,97,97
3,AGO,Angola,2008-09,77,75,84,66
4,ARM,Armenia,2010,99,99,99,98
5,AZE,Azerbaijan,2011,68,66,68,67
6,BGD,Bangladesh,2014,90,92,90,91
7,BRB,Barbados,2012,100,98,99,99
8,BLR,Belarus,2012,92,90,91,93
9,BLZ,Belize,2011,94,94,97,91
10,BEN,Benin,2014,77,73,83,72
11,BTN,Bhutan,2012,95,94,97,94
12,BOL,Bolivia (Plurinational State of),2008,96,96,97,96
13,BIH,Bosnia and Herzegovina,2011-12,96,95,94,96
14,BFA,Burkina Faso,2010,53,50,82,45
15,BDI,Burundi,2010,85,84,90,84
16,KHM,Cambodia,2014,91,93,96,92
17,CMR,Cameroon,2014,87,84,94,77
18,CAF,Central African Republic,2010,78,68,86,65
19,TCD,Chad,2010,55,48,70,46
20,COL,Colombia,2010,95,96,95,94
21,COM,Comoros,2012,84,84,90,82
22,COG,Congo,2014-15,96,97,98,95
23,CRI,Costa Rica,2011,95,96,96,95
24,CIV,Côte d'Ivoire,2011-12,72,66,77,63
25,COD,Democratic Republic of the Congo,2013,88,85,92,84
26,DOM,Dominican Republic,2014,94,96,95,96
27,ECU,Ecuador,2014,96,96,97,96
28,EGY,Egypt,2014,97,96,96,96
29,SLV,El Salvador,2014,95,96,91,89
...,...,...,...,...,...,...,...
77,SRB,Serbia,2014,98,98,99,97
78,SLE,Sierra Leone,2013,73,77,87,70
79,SLB,Solomon Islands,2007,62,68,72,64
80,SOM,Somalia,2006,23,19,38,11
81,SSD,South Sudan,2010,25,21,39,18
82,PSE,State of Palestine,2014,98,98,98,99
83,SDN,Sudan,2010,72,67,86,63
84,SUR,Suriname,2010,95,96,96,93
85,SWZ,Swaziland,2010,96,97,96,96
86,SYR,Syrian Arab Republic,2006,96,96,97,95
87,TJK,Tajikistan,2012,97,96,98,96
88,THA,Thailand,2012,95,95,95,95
89,MKD,The former Yugoslav Republic of Macedonia,2011,98,97,98,98
90,TLS,Timor-Leste,2009-10,71,73,79,69
91,TGO,Togo,2013-14,90,86,96,85
92,TON,Tonga,2012,92,92,91,93
93,TUN,Tunisia,2011-12,98,97,98,96
94,TUR,Turkey,2013,94,96,95,95
95,TKM,Turkmenistan,2006,99,98,99,99
96,TUV,Tuvalu,2007,97,99,97,98
97,UGA,Uganda,2011,86,86,90,86
98,UKR,Ukraine,2012,100,99,99,99
99,TZA,United Republic of Tanzania,2012,75,78,90,72
100,URY,Uruguay,2012-13,96,97,97,97
101,UZB,Uzbekistan,2006,94,94,95,94
102,VUT,Vanuatu,2013,76,78,77,77
103,VNM,Viet Nam,2014,97,97,98,97
104,YEM,Yemen,2013,80,72,85,73
105,ZMB,Zambia,2013-14,85,88,92,84
106,ZWE,Zimbabwe,2014,92,94,96,92

In [243]:
asiac = ['AFG', 'ARM','AZE','BHR','BGD','BTN','BRN','KHM','CHN','CXR','CCK','IOT','GEO','HKG','IND','IDN','IRN','IRQ',
         'ISR','JPN','JOR','KAZ','PRK','KOR','KWT','KGZ','LAO','LBN','MAC','MYS','MDV','MNG','MMR','NPL','OMN','PAK','PHL',
         'QAT','SAU','SGP','LKA','SYR','TWN','TJK','THA','TUR','TKM','ARE','UZB','VNM','YEM','PSE']

In [244]:
asian_countries = select.loc[select['ISO Code'].isin(asiac)]
asian_countries=asian_countries.reset_index(drop=True)
asian_countries

,ISO Code,Countries and areas,Reference year(s),Gender(Male),Gender(Female),R(Urban),R(Rural)
0,AFG,Afghanistan,2013-14,62,45,76,51
1,ARM,Armenia,2010,99,99,99,98
2,AZE,Azerbaijan,2011,68,66,68,67
3,BGD,Bangladesh,2014,90,92,90,91
4,BTN,Bhutan,2012,95,94,97,94
5,KHM,Cambodia,2014,91,93,96,92
6,GEO,Georgia,2010,95,96,96,94
7,IND,India,2005-06,85,81,88,81
8,IDN,Indonesia,2013,98,98,99,97
9,IRQ,Iraq,2011,93,87,93,83
10,JOR,Jordan,2012,98,98,98,98
11,KAZ,Kazakhstan,2010-11,99,99,99,99
12,KGZ,Kyrgyzstan,2014,99,99,98,99
13,LAO,Lao People's Democratic Republic,2011-12,85,84,94,82
14,MDV,Maldives,2009,93,95,94,94
15,MNG,Mongolia,2013,97,98,98,97
16,MMR,Myanmar,2009-10,89,90,93,89
17,NPL,Nepal,2014,76,76,79,75
18,PAK,Pakistan,2012-13,67,60,74,59
19,PHL,Philippines,2003,87,88,90,86
20,PSE,State of Palestine,2014,98,98,98,99
21,SYR,Syrian Arab Republic,2006,96,96,97,95
22,TJK,Tajikistan,2012,97,96,98,96
23,THA,Thailand,2012,95,95,95,95
24,TUR,Turkey,2013,94,96,95,95
25,TKM,Turkmenistan,2006,99,98,99,99
26,UZB,Uzbekistan,2006,94,94,95,94
27,VNM,Viet Nam,2014,97,97,98,97
28,YEM,Yemen,2013,80,72,85,73

In [245]:
non_asian_countries = select.loc[~select['ISO Code'].isin(asiac)]
non_asian_countries=non_asian_countries.reset_index(drop=True)

In [246]:
gmen_asian = asian_countries['Gender(Male)'].mean()
gmen_asian

90.206896551724142

In [247]:
gfemale_asian = asian_countries['Gender(Female)'].mean()
gfemale_asian

88.965517241379317

In [248]:
rurbun_asian = asian_countries['R(Urban)'].mean()
rurbun_asian

92.379310344827587

In [249]:
rrural_asian = asian_countries['R(Rural)'].mean()
rrural_asian

88.58620689655173

In [250]:
gasian = {'Gender(Male)': gmen_asian}
gasian

{'Gender(Male)': 90.206896551724142}

In [251]:
y = pd.Series(gasian)
y = pd.DataFrame(y)
y.columns=['asian']
y

                  asian
Gender(Male)  90.206897

In [252]:
gasian = {'Gender(Female)': gfemale_asian}
y1 = pd.Series(gasian)
y1 = pd.DataFrame(y1)
y1.columns=['asian']
y1

                    asian
Gender(Female)  88.965517

In [253]:
resident = {'R(Urban)': rurbun_asian}
resident
y2 = pd.Series(resident)
y2 = pd.DataFrame(y2)
y2.columns=['asian']
y2

             asian
R(Urban)  92.37931

In [254]:
resident = {'R(Rural)': rrural_asian}
y3 = pd.Series(resident)
y3 = pd.DataFrame(y3)
y3.columns=['asian']
y3

              asian
R(Rural)  88.586207

In [255]:
gmen_non_asian = non_asian_countries['Gender(Male)'].mean()
gmen_non_asian

82.230769230769226

In [256]:
gfemale_non_asian = non_asian_countries['Gender(Female)'].mean()
gfemale_non_asian

81.871794871794876

In [257]:
rurbun_non_asian = non_asian_countries['R(Urban)'].mean()
rurbun_non_asian

88.243589743589737

In [258]:
rrural_non_asian = non_asian_countries['R(Rural)'].mean()
rrural_non_asian

79.192307692307693

In [259]:
gnon_asian = {'Gender(Male)': gmen_non_asian}
gnon_asian

{'Gender(Male)': 82.230769230769226}

In [260]:
z = pd.Series(gnon_asian)
z = pd.DataFrame(z)
z.columns=['non_asian']
z

              non_asian
Gender(Male)  82.230769

In [261]:
gnon_asian = {'Gender(Female)': gfemale_non_asian}
z1 = pd.Series(gnon_asian)
z1 = pd.DataFrame(z1)
z1.columns=['non_asian']
z1

                non_asian
Gender(Female)  81.871795

In [262]:
resident = {'R(Urban)': rurbun_non_asian}
resident
z2 = pd.Series(resident)
z2 = pd.DataFrame(z2)
z2.columns=['non_asian']
z2

          non_asian
R(Urban)   88.24359

In [263]:
resident = {'R(Rural)': rrural_non_asian}
z3 = pd.Series(resident)
z3 = pd.DataFrame(z3)
z3.columns=['non_asian']
z3

          non_asian
R(Rural)  79.192308

In [264]:
asia_frames = [y,y1,y2,y3]
asia_frames_final = pd.concat(asia_frames)
asia_frames_final

                    asian
Gender(Male)    90.206897
Gender(Female)  88.965517
R(Urban)        92.379310
R(Rural)        88.586207

In [265]:
nasia_frames = [z,z1,z2,z3]
nasia_frames = pd.concat(nasia_frames)
nasia_frames

                non_asian
Gender(Male)    82.230769
Gender(Female)  81.871795
R(Urban)        88.243590
R(Rural)        79.192308

In [266]:
final_frame2 = pd.concat([asia_frames_final,nasia_frames], axis=1,join='inner')
final_frame2

                    asian  non_asian
Gender(Male)    90.206897  82.230769
Gender(Female)  88.965517  81.871795
R(Urban)        92.379310  88.243590
R(Rural)        88.586207  79.192308

In [267]:
import matplotlib.pyplot as plt

In [277]:
#male and female of asian countries
# Data to plot
labels = 'Gender(Male)', 'Gender(Female)'
sizes = [90.206897,88.965517]
colors = ['blue', 'yellow']
explode = (0 ,0)  # explode 1st slice
 
# Plot
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=140)
 
plt.axis('equal')
plt.show()

In [278]:
#male and female of nonasian countries
labels = 'Gender(Male)', 'Gender(Female)'
sizes = [82.230769,81.871795]
colors = ['blue', 'yellow']
explode = (0 ,0)  # explode 1st slice
 
# Plot
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=140)
 
plt.axis('equal')
plt.show()

In [279]:

#rural and urban of asian countries
# Data to plot
labels = 'R(Urban)', 'R(Rural)'
sizes = [92.379310,88.586207]
colors = ['red', 'white']
explode = (0 ,0)  # explode 1st slice
 
# Plot
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=140)
 
plt.axis('equal')
plt.show()

In [280]:
#rural and urban of non-asian countries
# Data to plot
labels = 'R(Urban)', 'R(Rural)'
sizes = [88.243590,79.192308]
colors = ['red', 'white']
explode = (0 ,0)  # explode 1st slice
 
# Plot
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=140)
 
plt.axis('equal')
plt.show()